In [ ]:
#Initate connectiong to spark
from pyspark.sql import SparkSession

spark_session = SparkSession\
        .builder\
        .master("spark://192.168.2.74:7077") \
        .appName("your_application_name")\
        .config("spark.dynamicAllocation.enabled", True)\
        .config("spark.dynamicAllocation.shuffleTracking.enabled",True)\
        .config("spark.shuffle.service.enabled", False)\
        .config("spark.dynamicAllocation.executorIdleTimeout","30s")\
        .config("spark.executor.cores",1)\
        .config("spark.driver.port",9998)\
        .config("spark.blockManager.port",10005)\
        .getOrCreate()

spark_context = spark_session.sparkContext

spark_context.setLogLevel("ERROR")

In [ ]:
lines = spark_context.textFile(
    'hdfs://192.168.2.74:9000/user/ubuntu/uber-tlc-foil-response/uber-trip-data/uber-raw-data-may14.csv'
    )\
.cache() # Keep this RDD in memory!

lines.take(5) #Number of RDD elements.

In [ ]:
# release the cores for another application!
spark_session.stop()

In [ ]:
from pyspark.sql import Row
from pyspark.sql import SQLContext
sc = spark_context
sqlContext = SQLContext(sc)


list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd = sc.parallelize(list_p)
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
DF_ppl = sqlContext.createDataFrame(ppl)
sqlContext.createDataFrame(ppl)

DF_ppl.printSchema()